<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>用户登录</title>
<link rel="stylesheet" href="../../css/pageAll.css" />
<script src="../../js/pageAll.js"></script>

</head>
<body style="background-image: url(../../img/bg1.jpg);">
	<div id="login">
		<div class="mid_box">
			<div class="mid_left_box">
				<!-- 					<img src="../../img/head.jpg" /> -->
			</div>
			<div class="mid_right_box">
				<div class="title">欢迎登录使用</div>
				<el-form :model="ruleForm" :rules="rules" ref="ruleForm"
					class="ruleForm" status-icon> <el-form-item prop="name">
				<el-input v-model="ruleForm.name" placeholder="请输入用户名"></el-input> </el-form-item>
				<el-form-item prop="pwd"> <el-input
					v-model="ruleForm.pwd" type="password" placeholder="请输入密码"></el-input>
				</el-form-item> <el-form-item> <el-button type="primary"
					class="login_btn" @click="submitForm('ruleForm')">登录</el-button> </el-form-item> </el-form>
				<div class="register">
					<a href="../reg/reg.html">前往注册</a>
				</div>

			</div>
		</div>
	</div>
</body>
<script type="text/javascript"> 
const router = new VueRouter({
	mode: 'history' 
	})
var vm = new Vue({
	el: '#login',
//		data:getAjax("getLogin"),
	data() {
		return {
			ruleForm: {
				name: '',
				pwd: ''
			},
			rules: {
				name: {
					required: true,
					message: '请输入用户名',
					trigger: 'blur'
				},
				pwd: {
					required: true,
					message: '请输入密码',
					trigger: 'blur'
				},
			},

		}
	},
	methods: {
		submitForm(formName) {
			router.push({ path: '/index.html', params: { userId: 123 }})
// 			this.$refs[formName].validate((valid) => {
				
// 				if (valid) {
// //						axios.post("http://localhost:8888/login", this.ruleForm).then((res) => {
// //							console.log(res.data)
// //							if (res.data.code == 200) {
							
							
// //								sessionStorage.setItem("userId",res.data.data.id)
// //							}
// //							this.$alert('Hello World!');
// //						})
 
				
// 				} else {
// 					console.log('error submit!!');
// 					return false;
// 				}
// 			});
		},
	}
})
 </script>
</html>
